body {
    font-family: Arial, Helvetica, sans-serif;    
    margin: 0;
    padding: 0;
    background: lightgray;
    
}

h1 {
    font-size: 42px;
    /* width: 50vw;
    margin: 0 auto;
    padding: 20px; */
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

input {
    height: 25px;
    width: 20%;
    padding: 6px;
    margin-top: 50px;
    font-size: 24px;
    border: none;
    border-radius: 0.25em;
}

/* Place the quiz on the page */
.quiz {
    margin-top: 10vh;
    text-align: center; 
}

/* Style the contiainer for the text */
.pContainer {
    width: 60vw;
    margin: 0 auto;
    line-height: 1.3em;
}

#feedback {
    width:60vw;
    margin: 0 auto;
    text-Align: center;
    font-Size: 24px;
    font-Family: Arial, Helvetica, sans-serif;
}
/* View Highscores button, upper left corner */
#highscoreBtn {
    padding-top: 3vh;
    color: white;
    font-size: 18px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: left; */
}

/* Time, upper right corner */
#timeDisplay {
    padding-top: 3vh;
    font-Family: Arial, Helvetica, sans-serif;
    font-Size: 18px;
    font-Weight: bold;
    color: white;
}

.fontFun {
    font-Family: Arial, Helvetica, sans-serif;
    font-Size: 18px;
    font-Weight: bold;
}

.evenFlavor {
    background-color: grey;
    color: white;
    width:30vw;
    line-height: 1.5em;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.oddFlavor {
    background-color: whitesmoke;
    width:30vw;
    line-height: 1.5em;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Modify button appearance */
.btnFlavor {
    background-color: cadetblue;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 10px;
    height: 50px;
    width: 150px;
    border:none;
}

/* .answerBtn {
    background-color: #bada55;
    border-radius: 0.5em;
    font-size: 20px;
    margin: 10px;
    height: 50px;
    width: 150px;
    border:none;
} */

#answers {
    width:50vw;
    margin: 0 auto;
    list-style: none;
    text-align: left;
}

